.summary {
  position: absolute;
  text-align: center;
  background-color: aqua;
  width: '100%';
  height: '100%';
}

.setFontSizeOfYear {
  font-size: 60px;
  color: grey;
}

.setFontSizeOfTotal {
  font-size: 30px;
  color: grey;
}

.timeline {
  position: relative;
  width: 100%;
  height: 50px;
  /* ปรับให้เหมาะสม */
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pointer {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid grey;
  /* ลูกศรชี้ลง */
  position: absolute;
  top: 0;
  /* ตั้งการจัดวางเพื่อให้ลูกศรอยู่ที่ด้านบน */
  transform: translateY(0);
  z-index: 1;
  /* ให้แน่ใจว่าลูกศรอยู่เหนือกราฟ */
}

.myBarPopulaiton {
  width: 100;
  height: 100;
  position: static;
  bottom: 500px;
  background-color: none;

}


.box-1 {
  width: 100%;
  height: 100vh;
  position: relative;
  /* background-color: aqua; */
}

.box-2 {
  width: 100%;
  height: 10%;
  /* overflow: hidden; */
  position: relative;
  /* background-color: gainsboro; */
}

.year-total-container {
  position: absolute;
  width: 30%;
  /* height: 100%;  */
  left: 80%;
  top: 600px;
  transform: translate(-50%, -50%);
  text-align: right;
  /* background-color: blue; */
}

.box-myChart {
  width: 100%;
  height: 100vh;
  position: relative;

}

.lineChartTopUp {
  position: absolute;
  bottom: -180px;
  width: 100%;
  height: 100vh;
  /* background-color: rgb(191, 142, 8); */
}

.flag {
  width: 20px;
  /* ขนาดของธง */
  height: 20px;
  border-radius: 50%;
  /* ทำให้เป็นรูปกลม */
  display: inline-block;
  margin-right: 5px;
  /* ระยะห่างระหว่างธงและตัวเลข */
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: none;
  /* สีพื้นหลังเบาๆ */
}



@media (min-width: 1520px) {
  .lineChartTopUp {
    /* position: absolute; */
    bottom: -110px;

  }
}

@media (max-width: 1300px) {
  .lineChartTopUp {
    bottom: -230px;
  }

}
@media (max-width: 1200px) {
  .year-total-container {
    top: 400px;
  }

  .setFontSizeOfYear {
    font-size: 50px;
    color: grey;
  }

  .setFontSizeOfTotal {
    font-size: 20px;
    color: grey;
  }
  .lineChartTopUp {
    bottom: -240px;
  }

}


/* Media query สำหรับ iPad Pro 11 นิ้ว (แนวตั้ง) */
@media only screen and (min-width: 834px) and (max-width: 1194px) and (orientation: portrait) {
  .box-1 {
    /* background-color: yellow; */
    height: 35vh;
  }

  .year-total-container {
    top: 350px;
  }
  .lineChartTopUp {
    bottom: -930px;

    /* background-color: rgb(227, 220, 201); */
  }
  

}

@media (max-width: 950px) {

  .box-1 {
    width: 100%;
    height: 60vh;
    position: relative;
    /* background-color: greenyellow; */
  }

  .year-total-container {
    top: 250px;
  }
  .lineChartTopUp {
    bottom: -370px;
  }
  
}

@media (max-width: 768px) {

  .box-1 {
    width: 100%;
    height: 50vh;
    position: relative;
    /* background-color: orange; */
  }
  .lineChartTopUp {
    bottom: -460px;
  }

  .year-total-container {
    top: 250px;
  }

  .setFontSizeOfYear {
    font-size: 40px;
    color: grey;
  }

  .setFontSizeOfTotal {
    font-size: 15px;
    color: grey;
  }
} 

@media (max-width: 480px) {

  .year-total-container {
    top: 20%;
  }
}